<!-- <mat-app-background> -->
  <div class="bg-image">
    <div class="header">
      <h3 class="display-right">Front-end Developer</h3>
    </div>
  </div>

  <section>
    <div class="row">
      <div class="col-md-3">Yesenia Cardenas</div>
      <div class="col-md-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem soluta quod libero sunt sed
        similique laborum cupiditate qui sit ea excepturi eveniet in mollitia pariatur repellat ducimus, voluptates,
        culpa velit.</div>
    </div>
  </section>
<!-- </mat-app-background> -->


<!-- <footer class="bg">
  <div class="container-body">
    TEST TEXT
  </div>
</footer> -->
<app-footer></app-footer>
